

.App-Header{
    width: 100%;
    height: 80px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #ccc;
    position: fixed;
    left: 0;
    top: 0;
}
.App-Header > .header_Left {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 24px;
}
.separ{
    padding: 10px;
    text-transform: uppercase;
}
.App-Header > .header_Right{
    width: 60%;
}
.header_List{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_List > li {
    list-style-type: none;
}
.header_List > NavLink {
    text-decoration: none;
    color: white;
}

/* a.active {
    text-decoration: none;
    color: white;
} */
.icon-color{
    color: rgb(203,183,34);
}
